* {
    text-decoration: none;
}

.app {
    margin-top: 10vh;
}

.product-row {
max-width: auto;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;

}



.product-card img {
    width: 5.62vw;
    height: 8.5vw;
    object-fit: cover;
    border-radius: 0.08rem;
    display: block;
    margin: auto;
    position: relative;
    justify-content: center;
    opacity: 1;
    object-position: 40% 60%;
    transition: all 0.5s ease-in-out;
    margin-top: 6.25rem;
    
    transform: scale(3);
    
}

.product-card img:hover {
    filter: brightness(1.2);
}

.product-card {

 
    border: 0 solid #000;
    border-radius: 0.18rem;
    transition: all 0.5s ease-in-out;
    height: 32vw;
    overflow: hidden;
    margin: 0.3rem;
    padding-top: 1rem;
    background-color: #000000;

}

.price {
    /* display: none; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1.25rem;
    /* text-align: center; */
    margin-top: -1rem;
    position: relative;
    left: 0.5vw;
    bottom: -11vw;
    opacity: 0.8;
    transition: all 0.5s ease-in-out;
    color: rgb(255, 255, 255);
}

 h3 {
    text-decoration: none;
}

.title {
    /* display: none; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.18rem;
    text-align: left;
    font-size: 0.8rem;
    opacity: 0.8;
    transition: all 0.5s ease-in-out;
    position: relative;
    top: 16vh;
    left: 0.82vw;
    max-width:90%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 100;
    animation-name: relaxAnimation;
    animation-duration: 1.2s;


}

.starrating {
    position: relative;
    bottom: -4vh;
    left: 12.5vw;
    color: #25f0ff;
}

.addToCart {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    opacity: 0;
    font-size: 2rem;
    transition: all 0.5s ease-in-out;
    position: relative;
    top: -38.3vh;
    right: -14.26vw;
    background-color: #25f0ff;
    border: none;
    color: black;
    border-radius: 0.2rem;
    padding: 0.5vh 1vw;
    z-index: 100;
}

.product-card:hover .title {
    
    opacity: 1;
    animation-name: myAnimation;
    animation-duration: 2s;
    

}

.product-card:hover .addToCart {
    
    opacity: 1;
    transition: all 0.5s ease-in-out;
   
    
}

.addCartPrompt {
    opacity: 0;
    font-size: 1.3rem;
    padding: 0.65rem 0.2rem;
    position: relative;
    left: 5.5vw;
    background-color: #25f0ff;
    color: #fff;
    top: -45.2vh;
    width: 10vw;
    border-radius: 0.25rem;
    animation-name: relaxaddcartslide;
    animation-duration: 1s;
    transition: ease-in-out 0.5s;
    
}

.addToCart:hover + .addCartPrompt {
    opacity: 1;
    animation-name: addcartslide;
    animation-duration: 1s;
    transition: ease-in-out 0.5s;
    
}


.product-card button:hover {
    background-color: #25f0ff;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    
}

.product-card:hover {
    transition: all 0.5s ease-in-out;
    transform: translateY(-1.5%);
    
}


.product-card:hover .price {

    display: block;
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

.description {
        display: none;
    }

.product-title {
    color: #d41717;
    font-size: 5rem;
    z-index: 100;


}



@keyframes myAnimation {
  from {letter-spacing: 0.18rem; font-weight: 100;}
  to {letter-spacing: 0.27rem; font-weight: 500;}
}

@keyframes relaxAnimation {
  from {letter-spacing: 0.27rem; font-weight: 500;}
  to {letter-spacing: 0.18rem; font-weight: 100;}
}

@keyframes addcartslide {
  from {transform: translateX(10%); background-color: #25f0ff;}
  to {transform: translateX(0%);  background-color: #25f0ff;}
}

@keyframes relaxaddcartslide {
  from {transform: translateX(0%);  background-color: #25f0ff;}
  to {transform: translateX(50%);  background-color: #00000000;}
}
