.product-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.2rem;
  padding: 2rem;
  justify-content: center;
  
}


.product-card {
  background: #000;
  padding: 12px;           
  border-radius: 0.2vw;
  transition: ease-in-out 0.5s;
}

.product-card:hover {
    transform: translateY(-2%);
    transition: ease-in-out 0.5s;
}

.card-frame {
  background: #000;
  border-radius: 0.2vw;
  overflow: hidden;
}


.image-wrapper {
  position: relative;
  aspect-ratio: 2 / 4;     
  overflow: hidden;
}


.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
}

.product-card:hover img {
  transform: scale(1.03);
  filter: brightness(1.2);
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8) 25%,
    rgba(0, 0, 0, 0.3) 45%,
    transparent 100%
  );
  pointer-events: none;
}

.card-info {
  position: absolute;
  bottom: 0.5vw;
  left: 0.5vw;
  right: 0.5vw;
  color: white;
}

.title {
  font-size: 1vw;
  letter-spacing: 0.25rem;
  font-weight: 300;
  margin: 0;
  text-align: left;
  
}

.price {
  font-size: 1.4vw;
  margin-top: 1vh;
  color: #fff;
}


.addToCart {
  position: absolute;
  top: 0.5vw;
  right: 0.5vw;
  background-color: #000000;
  color: #25f0ff;
  border: none;
  border-radius: 0.2vw;
  width: 3vw;
  height: 3vw;
  padding-bottom: 2vw;
  font-size: 2vw;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease, background-color 0.5s ease;
}

.addToCart:hover {
  background-color: #25f0ff;
  color: #000;
  transition: opacity 0.5s ease, background-color 0.5s ease;
  transform: scale(1);
}

.product-card:hover .addToCart {
  opacity: 1;
}


.starrating {
    color: #25f0ff;
}

.addPrompt {
    font-size: 1.2vw;
    background-color: #25f0ff;
    position: absolute;
  top: 0.5vw;
  right: 3vw;
  opacity: 0;
  padding: 0.7vw 2vw 0.8vw 0.7vw;
  border-radius: 0.2vw;
  color: #000;
}

.addToCart:hover + .addPrompt {
    opacity: 1;
    transition: ease-in-out 0.5s;
}



@media (max-width: 640px) {

    .title {
        font-size: 0.8rem;
    }

    .product-row {
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    }

    .price {
        font-size: 1rem;
    }
}

@media (min-width: 2000px) {

    .product-row {
        grid-template-columns: repeat(auto-fill, minmax(200px, 5fr));
    }

    .title {
        font-size: 1rem;
    }

    .price {
        font-size: 2rem;
    }
    }

