* {
    margin: 3vw 1vw 0 3vw;
}

.product-row {
max-width: auto;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


.product-card img {
    width: 31vw;
    height: 15vw;
    object-fit: cover;
    display: block;
    margin: auto;
    margin-top: -1rem;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    
}

.product-card img:hover {
    filter: brightness(0.7);
}

.product-card {

    margin: 0rem;   
    border: 0.1vw solid #000;
    
    height: 22vw;
    overflow: hidden;
    padding-top: 1rem;

}

.price {
    /* display: none; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1.75rem;
    /* text-align: center; */
    margin-top: -1rem;
    position: relative;
    right: -7vw;
    bottom: 3vw;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.title {
    /* display: none; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    position: relative;
    top: -6vh;
    left: -2vw;
    max-width: 50%;
}

.addToCart {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    opacity: 0;
    font-size: 2rem;
    transition: all 0.5s ease-in-out;
    position: relative;
    top: -51.5vh;
    right: -9vw;
    background-color: aquamarine;
    border: none;
    color: black;
    border-radius: 1rem;
    padding: 1vh 1vw;
}

.product-card:hover .title {
    transform: translateY(20%);
    opacity: 1;
    

}

.product-card:hover .addToCart {
    
    opacity: 1;
    transition: all 0.5s ease-in-out;
   
    
}

.product-card button:hover {
    background-color: rgb(148, 240, 209);
    opacity: 1;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    
}

.product-card:hover {
    transition: all 0.5s ease-in-out;
    
}


.product-card:hover .price {
    transform: translateY(-20%);
    display: block;
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

.description {
        display: none;
    }

.product-title {
    color: #d41717;
    font-size: 5rem;
    z-index: 100;


}
