.product-row {
background-color: blue;
max-width: auto;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.product-card img {
    width: 25vw;
    height: 15vw;
    object-fit: cover;
    border-radius: 2rem;
    transform: scale(0.9);
    display:block;
    margin: auto;
}
.product-card {
    background-color: rgb(217, 236, 43);
    margin: 0.5rem;   
    border: 0.5vw solid #000;
    border-radius: 1rem;
    height: 22vw;
    overflow: hidden;
    padding-top: 1rem;
}


