.app {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.homepage-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  width: 100%;
  margin: 25px 0;
}

.homepage-card {
  text-align: center;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.homepage-card:hover {
  transform: scale(1.03);
}

.homepage-card img {
  width: 100%;
  height: 350px;
  display: block;
  object-fit: cover;
}
