
.login-page{
display: flex; 
justify-content: center; 
align-items: center; 
height: 100vh;
background-color:seagreen;;
}

.login-page h1{
    font-size: 36px;
    text-align: center;
    color: white;
}

.login-page .input-container{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-container input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 20px;
    color: #ffff;
    padding: 0 20px; transition: .5s;
}

.input-container input::placeholder{
    color: #ffff;
}
