.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 7%;
}
.logo{
    width: 100px;
    cursor: pointer;    
}
ul{
    flex: 1;
    list-style: none;
    text-align: center;
}
ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
.Search-bar{
    display: flex;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 50px;
}
.Search-bar input{
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px;
    max-width: 200px;
}
.cell{
    width: 200px;
    height: 200px;
    border: 2px solid;
    box-shadow: 0 0 0 1px;
    font-size: 175px;
    cursor: pointer;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
}

